{
  "openapi": "3.1.0",
  "info": {
    "title": "DiaDNAStone Verification API",
    "description": "APIs to verify and register stones for DiaDNAsystem.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://prod.di-dna.mobioffice.io/"
    }
  ],
  "paths": {
    "/diamond/isStonesVerified": {
      "post": {
        "summary": "Check if stones are verified",
        "description": "Verifies if the provided stones are matched, not matched, or need referral.",
        "security": [
          {
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StonesVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StonesVerificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/diamond/isStonesRegistered": {
      "post": {
        "summary": "Check if stones are registered",
        "description": "Checks if the provided stones are already registered in the system.",
        "security": [
          {
            "SecretKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StonesRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StonesRegistrationResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "SecretKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "secret-key"
      }
    },
    "schemas": {
      "StonesVerificationRequest": {
        "type": "object",
        "properties": {
          "stones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Stone ID"
                },
                "type": {
                  "type": "string",
                  "description": "Stone type for verification",
                  "enum": ["POLISH-POLISH", "POLISH", "ROUGH", "POLISH-ROUGH"]
                }
              },
              "required": ["id", "type"]
            }
          },
          "companyName": {
            "type": "string",
            "description": "Name of the company"
          }
        },
        "required": ["stones", "companyName"]
      },
      "StonesVerificationResponse": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "stone": {
                  "type": "string",
                  "description": "Stone ID"
                },
                "result": {
                  "type": "string",
                  "description": "Verification result",
                  "enum": ["MATCHED", "NO MATCH", "REFER", "No Query"]
                }
              },
              "required": ["stone", "result"]
            }
          }
        }
      },
      "StonesRegistrationRequest": {
        "type": "object",
        "properties": {
          "stones": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Stone ID"
                },
                "type": {
                  "type": "string",
                  "description": "Stone type for registration",
                  "enum": ["POLISH", "ROUGH", "AFTERSAWING"]
                }
              },
              "required": ["id", "type"]
            }
          },
          "companyName": {
            "type": "string",
            "description": "Name of the company"
          }
        },
        "required": ["stones", "companyName"]
      },
      "StonesRegistrationResponse": {
        "type": "object",
        "properties": {
          "Table": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Stone ID"
                },
                "type": {
                  "type": "string",
                  "description": "Stone type"
                },
                "result": {
                  "type": "boolean",
                  "description": "Registration status (true if registered, false if not)"
                }
              },
              "required": ["id", "type", "result"]
            }
          }
        }
      }
    }
  }
}
